<h1><%= contestant.first_name + " " + contestant.last_name %></h1>
<h3>Street Address:<%= contestant.street_address %></h3>
<h4>City:<%= contestant.city %></h4>
<h5>State:<%= contestant.state %></h5>
<h6>Zip:<%= contestant.zip %></h6>
<h7>Email: <%= contestant.email %></h7>
<h9>Cell Phone: <%= contestant.cell_phone %></h9>
